<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learning vizualization</title>
    <script language="JavaScript">
    function refreshIt(element) {
        setTimeout(function() {
            element.src = element.src.split('?')[0] + '?' + new Date().getTime();
            refreshIt(element);
        }, 500); // refresh every 3s
    }
</script>
</head>
<body>
    <form action="/new_learning" method="post">
      <button value="new_lrn">Новое обучение</button>
    </form>
    <br></br>
    <form action="" method="post">
        <label for="lr">learning rate</label>
        <input type = "text" name = "lr">
        <input type=submit>
    </form>
    <img src={{url}} alt="my plot" onload="refreshIt(this)">
</body>
</html>
